<h2>all urls</h2>
<table>
	<tr>
		<td>URL</td>
		<td># of times measured</td>
		<td>avg. client time (ms)</td>
		<td>first measured</td>
		<td>last measured</td>
	</tr>
	<% @uris.each do |uri| %>
	<tr>
		<td><%= link_to uri.uri, "/clientperf/#{uri.id}" %></td>
		<td><%= uri.clientperf_results.count %></td>
		<td><%= uri.clientperf_results.average(:milliseconds).to_i %></td>
		<td><%= uri.created_at.strftime("%M/%d/%y") %></td>
		<td><%= uri.updated_at.strftime("%M/%d/%y") %></td>
	</tr>
	<% end %>
</table>
<p><%= button_to "Reset all data", {:action => 'reset'},  :confirm => "are you sure?" %></p>