<%= button_to "Reset this URI", {:action => 'reset', :id => @uri.id},  :confirm => "are you sure?" %>
<h1><%= @uri.uri %></h1>
<h3>times measured: <%= @uri.clientperf_results.size %></h3>
<h3>average time: <%= @uri.result_average %>ms</h3>
<img src="<%= @uri.chart_url %>" />